* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#main {
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 400px;
  height: 85%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: #eee;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.toolbar-container {
  width: 320px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.outline-btn {
  padding: 8px 23px;
  font-weight: 400;
  font-size: 18px;
  background: white;
  border-radius: 4px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.outline-btn:hover {
  background: rgba(0, 0, 0, 0.05);
}

.outline-btn:active {
  background: white;
}

.swiper-slide {
  position: relative;
  z-index: 99;
}

.slide-texts-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
  width: fit-content;
  height: fit-content;
}

.slide-text {
  padding: 10px;
  cursor: pointer;
  width: 380px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reposition-btn {
  background: transparent;
  outline: none;
  border: none;
  color: white;
  border: 1px solid white;
  padding: 5px;
  z-index: 9999;
  font-size: 18px;
  position: relative;
  top: 25px;
  border-radius: 50%;
  display: none;
  background: rgba(0, 0, 0, 0.05);
}

.select-btn-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.select-btn-div {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 12px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}

.select-btn {
  padding: 6px 12px;
  outline: none;
  border: 2px solid black;
  border-radius: 5px;
}

@media (max-width: 800px) {
  #main {
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 28px;
    gap: 20px;
  }
  .container {
    flex-direction: column;
    gap: 10px;
    justify-content: normal;
  }
  .toolbar-container {
    width: 100%;
    padding-bottom: 55px;
  }
}
